/* Write your CSS here */
.todo-main-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  max-width: 1140px;
  border-radius: 10px;
  padding: 25px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.todos-heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ff8542;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .todos-heading {
    font-size: 50px;
  }
}
